{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-0">
                    <button type="button" class="btn btn-outline-primary" onclick="window.history.back();">&#8592; Back</button>
                </div>
                <div class="col text-center">
                    <h1>{{ drug.drug_name }}</h1>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Drug Name</th>
                                        <td>{{ drug.drug_name }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Drug Id</th>
                                        <td>{{ drug.drug_id }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Is Opioid</th>
                                        <td>{{ drug.is_opioid }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col table-transparent overflow-auto drugoverflow">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Prescriber</th>
                                        <th scope="col">Times Issued</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pdrug in prescriber.prescriberdrug_set.all|dictsort:"drug.drug_name" %}
                                        <tr class="tr-link" onclick="window.location.href='{% url 'drug' drug_id=pdrug.drug_id %}'">
                                            <th scope="row"> {{ pdrug.drug.drug_name|truncatechars:20 }} </th>
                                            <td>{{ pdrug.count }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <h5>Recommended Prescriber</h5>
                    </div>
                    <table class="table table-hover">
                        <tbody>
                            {% for prescriber in recommended_prescribers %}
                                <tr class="tr-link" onclick="window.location.href='{% url 'prescriber' npi=prescriber.npi %}'">
                                    <td>{{ prescriber }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
{% endblock %}

