{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="learn">
    <h1 class="learn-h1">Understanding the Opioid Crisis</h1>
    <hr>
    <p>Starting in the late 1990's many pharmaceutical companies in the US
        conviced the medical community that opioid pain relievers were not addictive.
        As a result, many Doctors across the country began prescribing opioids in high rates
        leading to millions of Americans developing opiod misuse disorder.
    </p>
    <h2 class="learn-h2">Opioid Misuse Disorder Could Affect Anyone</h2>
        Many people do not realize how common opioid misuse disorder is. According to
        a 2019 study by the U.S. Department of Health and Human Services:
    
    <ul>
        <li>Over 1.6 million people had an opiod use disorder in 2019</li>
        <li>10.1 Million people misused prescription opiods</li>
        <li>1.6 million people in the US misued a prescription pain reliever for the first time</li>
        <li>70,630 people died from a drug overdose</li>
    </ul>
    <h2 class="learn-h2">What Should You Do if You or a Loved One Suffers From Opioid Misuse Disorder?</h2>
    <p>The first step towards recovery is to find a health professional who can help.
        Ask your physician for a referral to a medical professional who specializes in addiction medicine.
        You can also search the <a href="https://asam.ps.membersuite.com/directory/SearchDirectory_Criteria.aspx">American Society of Addiction Medicine's</a>
        website to find specialists in your area.
    </p>
    <p>If you are helping a friend or loved one, the National Institue on Drug Abuse
        offers this advice: Assure your firend or loved one that addiction can be managed successfully,
        but acknowledge that it may take several attempts at treatment to find the best approach. If your friend or
        loved one refuses to seek help, a confrontational "intervention" is not recommended... Try to convince the person to
        consult with a physician.
    </p>
</div>

{% endblock %}